#play_btn, #score_btn, #exit_btn, #sound_btn{
    -fx-font-size: 22;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 10, 0, 2, 2);
}

#random_btn, #delete_btn, #rotate_btn, #start_btn, #back_btn {
    -fx-background-radius: 50;
    -fx-cursor: hand;
}

#random_btn:hover, #delete_btn:hover, #rotate_btn:hover, #start_btn:hover, #back_btn:hover{
    -fx-background-color: #F5B164;
}

